@font-face{
    font-family: "fredoka";
    src: url(../fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf)
}
@font-face{
    font-family: "Pmarker";
    src: url(../fonts/PermanentMarker-Regular.ttf)
}
@font-face{
    font-family: "NewYorkPunk";
    src: url(../fonts/NewYorkPunk.ttf)
}
@font-face{
    font-family: "Punk_s_not_dead";
    src: url(../fonts/Punk_s_not_dead.ttf)
}
@font-face{
    font-family: "Punked_Out";
    src: url(../fonts/Punked\ Out.ttf)
}
@font-face{
    font-family: "skulls";
    src: url(../fonts/skullz/skullz.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "fredoka";
    background: url("../img/bg_watermark.png") no-repeat center/cover;
    color: #dedede;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #dedede;
}
a:hover{
    text-decoration: underline;
    color: #D53C3C;
}

h1{
    font-size: 4.5rem;
    font-family: "Punk_s_not_dead";
    color: ededed;
    text-shadow: 0 0 6px #D53C3C;
    padding-bottom: 0.5rem;
}
h2{
    padding: 1% 0 2% 0;
    font-family: "Punked_Out";
    font-size: 3.5rem;
}
h3{
    font-size: 1.6rem;
}
p{
    padding-bottom: 0.8rem;
}