@font-face {
  font-family: "fredoka";
  src: url(../fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "Pmarker";
  src: url(../fonts/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: "NewYorkPunk";
  src: url(../fonts/NewYorkPunk.ttf);
}
@font-face {
  font-family: "Punk_s_not_dead";
  src: url(../fonts/Punk_s_not_dead.ttf);
}
@font-face {
  font-family: "Punked_Out";
  src: url(../fonts/Punked\ Out.ttf);
}
@font-face {
  font-family: "skulls";
  src: url(../fonts/skullz/skullz.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "fredoka";
  background: url("../img/bg_watermark.png") no-repeat center/cover;
  color: #dedede;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #dedede;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4.5rem;
  font-family: "Punk_s_not_dead";
  color: ededed;
  text-shadow: 0 0 6px #D53C3C;
}

h2 {
  padding: 5% 0 1% 0;
  font-family: "Punked_Out";
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  padding-bottom: 0.8rem;
}

.bLogo {
  display: none;
}

.mLogo {
  width: 100%;
}

.desktop {
  display: none;
}

section {
  width: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.tem {
  grid-column: 1/2;
  line-height: 0;
}

.navbar {
  background: #555;
  font-family: "Pmarker";
}
.navbar nav {
  color: #fff;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 0 2% 0;
}
.navbar nav ul {
  margin-bottom: 0;
}
.navbar nav ul li {
  display: inline;
  list-style-type: none;
  margin: 0 15px 0 0;
  padding: 0 8px;
}
.navbar nav ul a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}
.navbar nav ul a::before {
  font-family: "skulls";
  content: "t ";
  color: #555;
}
.navbar nav ul a:hover {
  color: black;
  transition: all 0.5s linear;
  color: #fff;
  text-shadow: 2px 2px 4px #D53C3C;
}
.navbar nav ul a:hover::before {
  font-family: "skulls";
  content: "t ";
  color: #fff;
}

.bandFoto {
  grid-column: 1/2;
  line-height: 0;
}
.bandFoto img {
  border-radius: 6px;
}

.breiterText {
  grid-column: 1/2;
  padding: 5%;
  font-size: 1.5rem;
}

.mp3Player {
  grid-column: 1/2;
}

.rezi {
  grid-column: 1/2;
  padding: 5%;
}

.rezitext {
  align-items: flex-start;
  padding: 5%;
  color: #dedede;
  font-size: 1.3rem;
}
.rezitext p:nth-of-type(1) {
  font-size: 0.8rem;
}
.rezitext p:nth-of-type(2) {
  text-align: justify;
  padding-bottom: 0.5rem;
}

.fotos {
  grid-column: 1/2;
}
.fotos div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fotos div img {
  padding: 2% 4%;
}

.line {
  grid-column: 1/2;
  margin-top: 5%;
}

.video {
  grid-column: 1/2;
}

iframe {
  width: 100%;
  height: 26vh;
}

footer {
  font-family: pmarker;
  margin: 4% 0 3% 0;
  text-align: right;
  padding-right: 8px;
  color: #dedede;
}
footer a {
  padding: 0 8px;
}
footer a:hover {
  color: #D53C3C;
}

@media only screen and (min-width: 480px) {
  iframe {
    width: 100%;
    height: 55vh;
  }
}
@media screen and (min-width: 720px) {
  body {
    margin: 0 5%;
  }

  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 10px;
  }

  .tem {
    grid-column: 1/13;
  }
  .tem .bLogo {
    display: flex;
    width: 330px;
    position: absolute;
    top: 10px;
    z-index: 2;
  }
  .tem .mLogo {
    display: none;
  }

  .navbar {
    grid-column: 2/13;
    background: none;
    display: flex;
    align-items: flex-end;
  }
  .navbar nav {
    color: #fff;
    background: url(../img/line06_nav.png) no-repeat center/cover;
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 1.2rem;
    padding: 6px 2rem 4px 0;
    margin: 105px 0 0 280px;
    transform: rotate(-3deg);
  }
  .navbar nav ul li {
    padding: 0 2px;
  }
  .navbar nav ul a {
    text-decoration: none;
    margin: 0;
  }
  .navbar nav ul a::before {
    color: #A2080A;
  }
  .navbar nav ul a:hover {
    color: black;
    transition: all 0.5s linear;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
  }
  .navbar nav ul a:hover::before {
    color: #fff;
  }

  .bandFoto {
    grid-column: 2/13;
    margin-bottom: 1rem;
  }

  .breiterText {
    grid-column: 2/13;
    padding: 0 0 5% 0;
    font-size: 1.3rem;
  }

  .rezi {
    grid-column: 2/13;
    padding: 0;
  }

  .rezitext {
    grid-column: 2/13;
    font-size: 1.1rem;
    padding: 5% 0;
  }

  .mp3Player {
    grid-column: 2/13;
  }

  .line {
    grid-column: 1/14;
    margin-top: 5%;
  }
  .line img {
    width: 100%;
    height: 1.5rem;
  }

  .fotos {
    grid-column: 2/13;
  }
  .fotos div img {
    width: 33%;
    padding: 0 0;
    border: 1px solid rgba(63, 63, 63, 0.2);
    border-radius: 4px;
    box-shadow: 0 0 8px #555;
  }
  .fotos div img:nth-of-type(1) {
    transform: rotate(-8deg);
    transition: all 0.3s linear;
  }
  .fotos div img:nth-of-type(1):hover {
    transform: rotate(0deg);
    transition: all 0.3s linear;
    z-index: 2;
  }
  .fotos div img:nth-of-type(2) {
    transform: rotate(14deg);
    transition: all 0.3s linear;
  }
  .fotos div img:nth-of-type(2):hover {
    transform: rotate(0deg);
    transition: all 0.3s linear;
    z-index: 2;
  }
  .fotos div img:nth-of-type(3) {
    transform: rotate(-4deg);
    transition: all 0.3s linear;
  }
  .fotos div img:nth-of-type(3):hover {
    transform: rotate(0deg);
    transition: all 0.3s linear;
    z-index: 2;
  }

  .video {
    grid-column: 2/13;
  }

  iframe {
    width: 100%;
    height: 80vh;
  }

  footer {
    grid-column: 2/13;
  }
}
/* For desktop: 1024px */
@media only screen and (min-width: 1024px) {
  .mp3Player {
    grid-column: 7/13;
    grid-row: 5/7;
  }

  .rezi {
    grid-column: 2/7;
    padding-right: 2rem;
  }

  .rezitext {
    grid-column: 2/7;
    font-size: 1rem;
    padding-right: 2rem;
  }

  iframe {
    width: 100%;
    height: 96vh;
  }

  footer {
    text-align: center;
    background: url(../img/line05_footer.png) no-repeat center/cover;
  }
  footer a:hover {
    color: #000;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
    margin: 0 auto;
  }
}
/* For desktop: 1200px */
@media only screen and (min-width: 1200px) {
  .rezi {
    grid-column: 2/8;
  }

  .rezitext {
    grid-column: 2/8;
  }

  .mp3Player {
    grid-column: 8/13;
  }

  iframe {
    width: 100%;
    height: 96vh;
  }
}
/* For BIG desktop: */
@media only screen and (min-width: 1441px) {
  .wrapper {
    width: 1440px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */